<h1>All Employees</h1>
<br />
<%= link_to "Download csv for current employees", employees_path(:csv), class:"btn btn-danger btn-sm", id: "csv" %>

<table class="table table-striped">
	<tbody>
		<tr>
			<th>Employee</th>
			<th>Department</th>	
			<th>Email</th>
			<th>Phone Number</th>	
			<th></th>	
		</tr>
		<%= render partial: "employee", collection: @employees %>
	</tbody>
</table>

<div class="page-links">
	<%= link_to 'New Employee', new_employee_path, class: "btn btn-secondary btn-sm" %> | 
	<%= link_to 'Home', root_path, class: "btn btn-success btn-sm" %> 
</div>