<h1>Employees</h1>
<br />
<%= link_to "Download csv for current employees", employees_path(:csv) %>

<p>Here are all of the employees:</p>

<table>
	<tbody>
		<tr>
			<th>Employee</th>
			<th>Department</th>	
			<th>Email</th>
			<th>Phone Number</th>		
		</tr>
		<%= render partial: "employee", collection: @employees %>
	</tbody>
</table>

<p><%= link_to 'New Employee', new_employee_path %> | <%= link_to 'Home', root_path %> </p>