<h1><%= @employee %></h1>

<p><%= link_to 'Edit employee', edit_employee_path(@employee) %></p>


<table>
	<tbody>
		<tr>
			<th>View</th>
			<th>Employee</th>
			<th>Works</th>
			<th>Date performed</th>
			<th>Hours</th>
			<th>File</th>
		</tr>
		<%= render partial: "works/work", collection: @employee.works %>
	</tbody>
</table>



<%= link_to 'Home', root_path %>