<h1><%= @employee %></h1>

<p><%= link_to 'Edit employee', edit_employee_path(@employee) %></p>

<%# if @employee.size > 0 %>
	<table>
		<tbody>
			<tr>
				<th>Employee</th>
				<th>Works</th>
			</tr>
			<%= render partial: "works/work", collection: @employee.projects %>
		</tbody>
	</table>
<%# else %>
	<p>No Employees</p>
<%# end %>


<%= link_to 'Home', root_path %>