<h1>All Works</h1>

<table class="table table-striped">
	<tbody>
		<tr>			
			<th>Employee</th>
			<th>Project</th>
			<th>Date/Time</th>
			<th>Hours</th>
			<th>File</th>
			<th>View</th>
		</tr>
		<%= render partial: "work", collection: @works %>
	</tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>
<br />

<div class="page-links">
	<%= link_to 'New Work', new_work_path, class: "btn btn-secondary btn-sm" %> | 
	<%= link_to 'Home', root_path, class: "btn btn-success btn-sm" %> 
</div>