<h1>All Departments</h1>

<table>
	<tbody>
		<tr>
			<th>Department</th>
		</tr>
		<%= render partial: "department", collection: @departments %>
	</tbody>
</table>

<p><%= link_to 'Add Department', new_department_path %></p> 
<p><%= link_to 'All Departments', departments_path %></p>