<h1><%= @department.name %></h1>

<p><%= link_to 'Edit department', edit_department_path(@department) %></p>

<% if @department.projects.size > 0 %>
	<table>
		<tbody>
			<tr>
				<th>Project</th>
				<th>Department</th>
			</tr>
			<%= render partial: "projects/project", collection: @department.projects %>
		</tbody>
	</table>
<% else %>
	<p>No projects</p>
<% end %>


<%= link_to 'Home', departments_path %>