<h1>All Projects</h1>
<br />
<%= link_to "Download csv for the current projects", projects_path(:csv), class:"btn btn-danger btn-sm", id: "csv" %>

<table class="table table-striped">
	<tbody>
		<tr>
			<th>Project</th>
			<th>Department</th>
		</tr>
		<%= render partial: "project", collection: @projects %>
	</tbody>
</table>

<div class="page-links">
	<%= link_to 'New Project', new_project_path, class: "btn btn-secondary btn-sm" %> | 
	<%= link_to 'Home', root_path, class: "btn btn-success btn-sm" %>
</div>