<h1>Projects</h1>
<br />
<%= link_to "Download csv for projects", projects_path(:csv) %>
<p>Here are all of the projects:</p>

<table>
	<tbody>
		<tr>
			<th>Project</th>
			<th>Department</th>
		</tr>
		<%= render partial: "project", collection: @projects %>
	</tbody>
</table>

<p><%= link_to 'New Project', new_project_path %> | <%= link_to 'Home', root_path %> </p>