<ul>  
  <li>Project name: <%= @project.name %></li>
  <li>Department name: <%= @project.department.name %></li>
  <li>Rate: <%= @project.rate %></li>  
</ul>

<br />
<%= link_to 'All Projects', projects_path %>